<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
  	<typeAlias alias="member" type="com.edu.safefood.dto.Member"/>
  	<typeAlias alias="food" type="com.edu.safefood.dto.Food"/>
  	<typeAlias alias="eat" type="com.edu.safefood.dto.Eat"/>
  	<typeAlias alias="qna" type="com.edu.safefood.dto.QnA"/>
  	<typeAlias alias="reply" type="com.edu.safefood.dto.Reply"/>
  	<typeAlias alias="categorize" type="com.edu.safefood.dto.Categorize"/>
  	<typeAlias alias="allergy" type="com.edu.safefood.dto.Allergy"/>
  	<typeAlias alias="dashboard" type="com.edu.safefood.dto.Dashboard"/>
    <typeAlias alias="cache" type="com.edu.safefood.dto.Cache"/>
  </typeAliases>

</configuration>
