<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reply">
	<insert id="insert" parameterType="reply">
		insert into reply(qno,id,firstdate,lastdate,text)
		values(#{qno},#{id},now(),now(),#{text});
	</insert>

	<delete id="delete" parameterType="int">
		delete from reply where rno = #{rno};
	</delete>

	<update id="update" parameterType="reply">
  		update reply 
  		set text=#{text}, lastdate=now() 
  		where rno = #{rno};
  	</update>
  	
  	<select id="selectList" resultType="reply" parameterType="int">
  		select * from reply where qno=#{qno}
  	</select>
  	
</mapper>
